fastapi
uvicorn
sqlalchemy
psycopg2-binary
pika
python-dotenv
requests
python-jose[cryptography]
PyYAML
alembic
pytest
pytest-cov
coverage
httpx
prometheus-fastapi-instrumentator

# OpenTelemetry dependencies
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-logging
