apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: nfc-service
  namespace: wailsalutem-suite
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: nfc-service
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
