apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfc-service-data
  namespace: wailsalutem-suite
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
